<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="QA E2E Suite">
    <test name="Smoke">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <packages>
            <package name="com.karina.tests.*"/>
        </packages>
    </test>

    <test name="Regression">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <packages>
            <package name="com.karina.tests.*"/>
        </packages>
    </test>
</suite>